:root, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-color: #253334;
  --bg-card: #F7F3F0;
  --bg-button: #7C9A92;
  --bg-main-text-color: #FFFFFF;
  --bg-secondary-text-color: #000000;
  --bg-sub-text-color: rgba(255, 255, 255, 0.7);
}

body {
  min-height: 100vh;
  font-family: "Alegreya", sans-serif;
  background-color: var(--bg-color);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}
